/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	color: #D9BC9A;
    background-image: none;
    background-color: #1f1f1f;
}
.weirdo{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:.40;
    z-index: -1;
}
.weirdo img{
    float: right;
    padding-top:10px; 
    /*width: 100%;*/
}
.container{
    background-color: transparent;
}
.hero-unit{
    background-color: transparent;
    border:none;
    box-shadow: none;
    margin-bottom: 0;
}
a{
	color: #8C7C68 !important;
}
a:hover{
	color: #D9BC9A !important;
}
h1, h2, h3, h4{
	color: #8C7C68;
}
.navbar{
	background-color: #7b2b67;
	margin-left: 0;
}
.navbar ul > li a:hover{
    border-bottom: solid #038C73 1px !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    color: #D9BC9A !important;
    background-color: #038C73;
    border-bottom: 1px solid #038C73;
}
.dropdown-menu{
    background-color: #4F173F;
    border: none;
    border-radius: 0;
}
.dropdown-menu::before, 
.dropdown-menu::after {
    border: none !important;
    content: none !important;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color: #038C73 !important;
    border: none !important;
}
.navbar .nav-collapse .nav li > a:hover {
    background-color: #038C73 !important;
    border: none;
  }
#shows-table{
    width: 100%;
    border: white solid 1px;
}
#shows-table th, td{
    border: white solid 1px;
}
#shows-table th{
    font-size: 1.3em;
    text-align: left;
}
.band-photo{
    width:100%;
    margin-bottom: 10px;
}
.contact-us-info{
    list-style-type: none;
}

/* this section was taken from http://avexdesigns.com/responsive-youtube-embed/ in order to make the youtube videos responsive */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*end responsive video code*/

#top-btn{
    float: right;
    clear: both;
}
.sidebar{
    list-style-type: none;
    margin:0;
}



